.header {
  position: absolute;
  top: 2px;
  left: 650px;
}

.Main {
  width: 100vw;
  height: 100vh;
}

.Container {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/***************************** styling the block of display **************************/
.Display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10%;
  width: 250px;
  height: 450px;
}

.date {
  height: 30%;
}

.appointmentList {
  height: 70%;
  width: 100%;
}

.appointmentForm {
  height: 70%;
  width: 100%;
}

.appointment {
  margin-bottom: 4px;
  background-color: yellow;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.time {
  position: relative;
  width: 20%;
  left: -60px;
}

.title {
  text-align: center;
  width: 60%;
}

.dotted {
  border: none;
  border-bottom: 1px dotted black;
  height: 1px;
  margin-bottom: 20px;
}

/********************* Input form styling ****************************/

.InputForm {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: 8px;
}

.inputLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8px;
}

.inputLabel input {
  border-radius: 5px;
  width: 100%;
  height: 1.8rem;
  margin-left: 2px;
}

.SubmitButton {
  width: 30%;
  margin-left: 80px;
  color: yellow;
  background-color: blue;
  height: 1.8rem;
  border-radius: 5px;
}

/*********************** Button positioning styles  *********************/
.LeftButton {
  top: 280px;
  left: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 70px;
}

.RightButton {
  top: 280px;
  left: 790px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.image {
  height: 50px;
  width: 50px;
}

.Center {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddButton {
  margin-top: 10px;
}
